@charset "utf-8";
/* ---------------------- Header  --------------------*/

#fname {
    padding-left:50px;
}
#lname {
    height:38px;
    padding-left:140px;
    padding-bottom:4px;
}

h1 {
    font-family: "futura-pt-condensed", sans-serif;  /*font-face from typekit*/
    font-size:45px;
    line-height:40px;
    font-size-adjust:inherit;
    display:block;
    background:#d3d3d3;
    padding:0px 10px 8px 0px;
    margin:5px;
    float:left;
    text-align:right;
    -moz-box-shadow: 5px 5px 10px #000000;
    -webkit-box-shadow: 5px 5px 10px #000000;
    box-shadow: 5px 5px 10px #000000;
}

h1 a:link, h1 a:visited { color:#333; }
h1 a:hover, h1 a:active { color:#000; }

h2 { 
    margin:8px 0px;
    font-family:"future-pt", sans-serif;
}

header {
    width:236px;
    display:block;
    float:left;
}

/* ---------------------- Page Structure --------------------*/
body {
    background: url(../images/background.jpg) #333 top left no-repeat;
}

#container {
    width:960px;
    margin:0px auto;
}

/* ---------------------- Navigation Structure --------------------*/
nav {
    display: block;
    float: right;
    height: 40px;
    margin-top: 57px;
    width: 724px;
}

nav a:link, nav a:visited {
    background: none repeat scroll 0 0 #D3D3D3;
    display: inline-block;
    font-family: "futura-pt", sans-serif;
    font-size: 25px;
    color:#000;
    text-decoration:none;
    margin: 5px 0px 5px 20px;
    padding: 5px 49px;
}

nav a:hover, nav a:active {
    background: none repeat scroll 0 0 #666;
    color:#fff;
    text-decoration:underline;
}

nav a:first-child {
    margin-left:25px;
}


/* ---------------------- Content Area --------------------*/

#content {
    clear:both;
    position:relative;
    top:15px;
    width:930px;
    margin:0px;
    padding:15px;
    color:#eee;
}

a { position:relative; }

.work {
    display:block;
    position:relative;
    border:5px solid #fff;
    padding:0;
    z-index:0;
    overflow:hidden;
    float:left;
    margin:10px 7.5px;
    -moz-box-shadow: 5px 4px 10px #000000;
    -webkit-box-shadow: 5px 4px 10px #000000;
    box-shadow: 5px 4px 10px #000000;
}

.work img {
    border:0;
    display: block;
}

.work iframe {
    text-align:center;
    border:0;
}
.vid{ height:248px; }

.caption {
    display:block;
    position:absolute;
    right:-100px;
    font-size:16px;
    background:rgba(0,0,0,.7);
    font-family:"Arial Black", Gadget, sans-serif;
    font-weight:300;
    bottom:20px;
    z-index:1;
    padding:10px;
}

h2 {
    display:block;
    clear:both;
    padding:15px 0px 10px 0px;
    font-size:24px;
}

br.clear {
    clear:both;
}

@media (max-width: 930px) {
    #container, #content {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .work {
        width: 90%;
        max-width: 440px;
        margin: 20px auto;
        float:none;
    }

    img {
        max-width: 100%;
    }
}